<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../codemirror/lib/codemirror.css">
  <link rel="stylesheet" type="text/css" href="../codemirror/addon/hint/show-hint.css">
  <script type="application/javascript" src="../codemirror/lib/codemirror.js"></script>
  <script type="application/javascript" src="javascripts/editor.js"></script>
  <script type="application/javascript" src="javascripts/editorSelector.js"></script>
  <script type="application/javascript" src="javascripts/tasks.js"></script>
  <script type="application/javascript" src="javascripts/checkTask.js"></script>
  <script type="application/javascript" src="javascripts/updateOutput.js"></script>
  <script type="application/javascript" src="javascripts/file.js"></script>
  <script type="application/javascript" src="javascripts/javascript.js"></script>
  <script type="application/javascript" src="../codemirror/addon/hint/show-hint.js"></script>
  <script type="application/javascript" src="../codemirror/addon/hint/xml-hint.js"></script>
  <script type="application/javascript" src="../codemirror/addon/hint/html-hint.js"></script>
  <script type="application/javascript" src="../codemirror/mode/xml/xml.js"></script>
  <script type="application/javascript" src="../codemirror/mode/javascript/javascript.js"></script>
  <script type="application/javascript" src="../codemirror/mode/css/css.js"></script>
  <script type="application/javascript" src="../codemirror/mode/htmlmixed/htmlmixed.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/material.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/htmlmixed/htmlmixed.min.js"></script>
  
</head>

<body>
  <div class="playground" style="position:relative;">
    <div class="play line">
      <div class="editor-select">
        <button id="editor-btn" class="btn line">index.html</button>
        <button id="editorCSS-btn" class="btn line">style.css</button>
        <button id="editorJS-btn" class="btn line">index.js</button>

      </div>
      <div id="editor-parent" class="edit">
        <textarea id="editor"  placeholder="yes"></textarea>
      </div>
      <div id="editorCSS-parent" class="edit">
        <textarea id="editorCSS"  placeholder="yes"></textarea>
      </div>
      <div id="editorJS-parent" class="edit">
        <textarea id="editorJS"  placeholder="yes"></textarea>
      </div>
    </div>
    <div id="output" style="max-height:100%;overflow:auto;" class="play line"></div>
  </div>
  <div class="line mission">
    <div class="line task">
      <p>Task: <span id="taskNumber"></span></p>
      <p id="taskDescription"></p>
    </div>
    <div class="line buttons">
      <button id="checkTask">check</button>
      <button id="run-code">Run Code</button>
    </div>
  </div>
</body>

</html>
<script>
</script>