.line {
border: 1px solid #bfbfbf !important;
}
.playground {
  height: 75vh;
  width: 100vw;
  display: flex;
}
.play {
  height: 100%;
  width: 50%;
}
.mission {
  height: 25vh;
  width: 100vw;
  display: flex;
}
.task {
  height: 100%;
  width: 80%;
}

.buttons {
  height: 100%;
  width: 20%;
}
.edit {
  height: 100%;
}
.CodeMirror {
  height: 97% !important;
}
.btn {
  background-color: #ADD8E6; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  width: 100%;
}
.editor-select {
  display: flex;
  justify-content: space-evenly;
}